@media only screen and (max-width: 599px) {
  html,
  body {
    background-image: url("../image/home-mobile.png");
  /* Full height */
  height: 100%; 
  width: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

}

@media only screen and (min-width: 600px) and (max-width: 991px) { 
  html,
  body {
    background-image: url("../image/home-med.png");
  /* Full height */
  height: 100%; 
  width: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  html,
  body {
    background-image: url("../image/home-large.png");
  /* Full height */
  height: 100%; 
  width: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
}

@media only screen and (min-width: 1201px) { 
  html,
  body {
    background: url("../image/home-large.png") no-repeat center fixed;
  /* Full height */
height: 100%; 

  background-size: cover;
  }

}